<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>Master/Details demo</title>
    <ice:outputStyle href="./xmlhttp/css/rime/rime.css"/>
</h:head>
<h:body styleClass="ice-skin-rime">
    <h:form id="master">

        <center>
            <ace:panel header="Staff List" toggleable="true" style="width: 50%">

                <ace:dataTable id="masterTable" value="#{dataTableBean.personData}"
                               selectionMode="single" var="person"
                               rowSelectListener="#{dataTableBean.selectionListener}">
                    <ace:column id="id" headerText="ID">#{person.id}</ace:column>
                    <ace:column id="name" headerText="Full Name"> #{person.name} </ace:column>
                    <ace:column id="address" headerText="Address">#{person.address}</ace:column>
                </ace:dataTable>
            </ace:panel>
        </center>
    </h:form>
    <h:form id="details">

        <center>
            <ace:panel header="Staff Member Details" toggleable="true"
                       style="width: 50%" collapsed="#{dataTableBean.detailsHidden}">
                <ice:panelGrid columns="2">
                    <ice:outputLabel for="firstName" value="First Name" />
                    <h:inputText id="firstName"
                                 value="#{dataTableBean.personDetails.firstName}" size="55">
                        <ace:ajax event="change" listener="#{dataTableBean.changeListener}" />
                    </h:inputText>

                    <ice:outputLabel for="lastName" value="Last Name" />
                    <h:inputText id="lastName"
                                 value="#{dataTableBean.personDetails.lastName}" size="55">
                        <ace:ajax event="change" listener="#{dataTableBean.changeListener}" />
                    </h:inputText>

                    <ice:outputLabel for="address" value="Address" />
                    <h:inputText id="address"
                                 value="#{dataTableBean.personDetails.address}" size="55">
                        <ace:ajax event="change" listener="#{dataTableBean.changeListener}" />
                    </h:inputText>
                    <f:facet name="footer">
                        <ice:commandButton value="Update Details"
                                           action="#{dataTableBean.save}" />
                    </f:facet>
                </ice:panelGrid>
            </ace:panel>
        </center>
    </h:form>
    <h:form id="confirmDialog">
        <!-- Confirm Dialog -->
        <ice:panelPopup visible="#{dataTableBean.confirmDialog}" modal="true">
            <f:facet name="header">
                <ice:panelGroup style="background-color: #DC143C;">
                    <ice:outputText value="Warning" />
                </ice:panelGroup>
            </f:facet>
            <f:facet name="body">
                <ice:panelGroup style="background-color: #FFFFFF;">
                    <ice:outputText
                            value="You have unsaved data. Are you sure you want to change to a new record?"
                            escape="false" />
                    <ice:panelGroup>
                        <h:commandButton value="Yes" action="#{dataTableBean.confirmYes}" />
                        <h:commandButton value="No" action="#{dataTableBean.confirmNo}" />
                    </ice:panelGroup>
                </ice:panelGroup>
            </f:facet>
        </ice:panelPopup>
    </h:form>

</h:body>
</html>
